auto-surprise==0.1.9
bayesian-optimization==2.0.3
bayes_opt==0.2.4
matplotlib==3.7.3
matplotlib-inline==0.1.7
numpy==1.26.4
optuna==4.2.1
pandas==1.5.3
plotly==4.14.3
recmetrics==0.1.5
scikit-learn==1.6.1
scikit-surprise==1.1.4
seaborn==0.11.2
surprise==0.1
tqdm==4.67.1
scipy>=1.6.0
ipython>=7.0.0
hyperopt